<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-light bg-primary justify-content-between ">
    <div class="container">
        <div class="d-flex align-items-center">
            <a href="/" class="navbar-brand text-warning" style="margin-right: 30px;"><b>SUPERHERO HQ</b></a>
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link pr-3 text-success" href="/search"><b>Search</b></a>
                </li>
                <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link pr-3 text-warning" href="/favorites"><b>Favorites</b></a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav flex-row float-right">
            <li class="nav-item" style="margin-right: 20px;">
                <a class="nav-link pr-3 text-light" href="/login"><b>Log in</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/register"><b>Register</b></a>
            </li>
        </ul>
    </div>
</nav>
    
<div class="container" style="margin-top: 2em">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-danger">{{ msg }}</div>
    {% endfor %}
    
    {% block content %}
    {% endblock %}   
</div>

</body>
</html>